# GNU Emacs
*.elc
*~
.cache
/elpa/
config.el

# Third-party packages
/history/
/url/
/var/
/anaconda-mode/
/auto-save-list/
/backups/
/transient/
.abbrev_defs
.dap-breakpoints
ac-comphist.dat
bookmarks
nov-places
recentf
request
smex-items
tramp
workspace
projectile-bookmarks.eld
/org-mode/